*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
    
}

body{
    font-family: 'Emilys Candy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #ffa5ab;
}

.calc{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cddafd;
    border: 10px solid #da627d;
    width: 260px;
    border-radius: 5px;
}

.div_nome{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 220px;

}

.div_teclas{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
    margin: 10px;
}

.teclas{
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #fb6f92;
    border: 3px solid #ff8fab;
    border-radius: 10px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
    font-family: 'Emilys Candy', cursive;
}

.teclasOp{
    background-color: #bdb2ff!important;
    border-color: #c8b6ff !important;
}

.div_display{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 5px;
}

.display{
    width: 240px;
    background-color: #ffcad4;
    text-align: right;
    padding: 5px ;
    font-family: monospace;
    font-size: large;
    font-family: 'Emilys Candy', cursive;
}
